#container{
    display: flex;
    flex-direction: column;
    gap:10px 10px;
}
#navBar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(235, 235, 235);

    
}
#navItem{
    font-size: xx-large;
    font-weight: 400;
}
#boxes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:10px 10px;
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border:3px solid black;
    flex: 1 1 0;
    font-size: large;
    font-weight: 300;
    text-align: center;
    
}
h5{
    margin: 10px;
    font-size: large;
    font-weight: 300;
    text-align: center;
}
footer{
    background-color: rgb(235, 235, 235);
    font-size: large;
    font-weight: 300;
    justify-self: baseline;
}